# Database settings
MONGO_URI=mongodb://localhost:27017
DATABASE_NAME=healthcare_db

# Security settings
JWT_SECRET=super-secret-key-change-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
UPLOAD_DIR=./uploads

# SMTP Configuration (For real Gmail OTP verification in production)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-google-app-password
SMTP_FROM_EMAIL=your-email@gmail.com
